<section id="contact" name="contact"></section>
<div id="footerwrap">
    <div class="container">
        <div class="col-lg-5">
            <h3>Social</h3>
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/alexkilty">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-github" href="https://github.com/alexkilty">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/101891552989394103222">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="twitter-timeline" href="https://twitter.com/AlexKilty" data-widget-id="305528857342119938">Tweets by @AlexKilty</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="col-lg-7">
            <h3>Want to contact me?</h3>
            <br>
            <form id="contactForm" role="form" action="http://forms.brace.io/a2kmagic@gmail.com" method="post" enctype="plain">
                <div class="form-group">
                    <label for="name1">Your Name</label>
                    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                    <label for="email1">Email address</label>
                    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label>Your Text</label>
                    <textarea class="form-control" name="Message" placeholder="Enter message" rows="6" required></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
            </form>
            <div id="contactSuccess" class="alert alert-success hidden">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> Your message has been sent successfully.
            </div>
            <div id="contactFailed" class="alert alert-danger hidden">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Failed!</strong> Something went wrong, please <a href="" id="resetContact">try again</a> later.
            </div>
        </div>
    </div>
</div>
<style>
    .fadein, .fadeout {
        opacity: 0;
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        -webkit-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
    }
    .fadein {
        opacity: 1;
    }
    .twitter-timeline{
        margin-top: 20px;
    }
</style>
<script>
    //callback handler for form submit
    $("#contactForm").submit(function(e)
    {
        var postData = $(this).serializeObject();
        $.ajax({
            url: "//forms.brace.io/a2kmagic@gmail.com",
            method: "POST",
            data: postData,
            dataType: "json",
            success:function(data, textStatus, jqXHR)
            {
                $("#contactForm").addClass('fadeout hidden');
                $("#contactSuccess").addClass('fadein').removeClass('hidden');
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                $("#contactForm").addClass('fadeout hidden');
                $("#contactFailed").addClass('fadein').removeClass('hidden');
            }
        });

        e.preventDefault(); //STOP default action
    });
    $('#resetContact').click(function ( e ) {
        e.preventDefault(); //STOP default action

        $("#contactFailed").addClass('fadeout hidden');
        $("#contactForm").addClass('fadein').removeClass('hidden');
    });
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//load.sumome.com/" data-sumo-site-id="c07083c76301309372ce03b7b8c0173b850474686735b5140f174c59b5734094" async></script>
<script src="{{ "/assets/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script>
    $('.carousel').carousel({
        interval: 3500
    })
</script>