<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Alex Kilty">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap-social.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">


    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/smoothscroll.js" | prepend: site.baseurl }}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script>
    <script src="//load.sumome.com/" data-sumo-site-id="c07083c76301309372ce03b7b8c0173b850474686735b5140f174c59b5734094" async></script>
</head>